
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>User</span></th>
                                <th><span>Created</span></th>
                                <th><span>Email</span></th>
                                <th><span>Mobile</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-3 col-sm-4 col-xs-6 ">
                                    
                                <tr ng-repeat="customer in customers">
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span>
                                        <a class="user-link">{{customer.name}}</a>
                                       
                                    </td>
                                    <td>{{customer.createdAt}}</td>
                                    <td>
                                        <a>{{customer.email}}</a>
                                    </td>
                                    <td>
                                        <a>{{customer.mobile}}</a>
                                    </td>
                                    <td>
                                
                                        <a class="btn btn-link glyphicon glyphicon-edit" data-ng-click="editContact(customer)" ></a>
                                    </td>
                                        <td >
                                   
                                        <a class="bg-danger btn btn-link btn-danger glyphicon glyphicon-remove" data-ng-click="removeContact(customer)">
                                      
                                        </a>
                                    </td>
                                </tr>
                               
                    
                            </div>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                    <div class="pull-left  col-md-offset-4 ">
                        <button class="btn btn-primary btn-lg btn" data-ng-click="go('/new-contact')" >New</button>
                   
                    </div>
                     <div class="col-md-offset-6">
                                                
               
                        <button type="button" class="btn btn-primary btn-lg btn" data-ng-click="go('/import-contacts')">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Import</span>
                           
                        </button>
                       
                    </div>
                    </div>
                    
                    
                  
                </div>
            </div>
        </div>
    </div>
</div>