<div class="container">
<div class="page-header">
<h3 class="text-center">EDIT CONTACT</h3>
</div>

<div data-cg-busy="{promise: lPromise, message: lMessage + '...'}"></div>
<div class="row" data-ng-show="errMsg">
  <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{errMsg}}</div>
</div>
    
<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" >

    <form name="signupForm" ng-submit="submitForm()" >
        
        <div class="form-group" >
            <div class="input-group">
                <input type="hidden"   class="form-control" name="objectId" id="objectId" value="" ng-model="objectId" />
            </div>
        </div>
        
         <div class="form-group has-feedback" data-ng-class="signupForm.name.$pristine ? '' : (signupForm.name.$valid? 'has-success' : 'has-error')">
        <label for="user_name" class="sr-only"></label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span></span>
          <input type="text"   class="form-control input-lg" name="name" id="name" value="" ng-model="name"   placeHolder="Business Name" required data-ng-model-options="{debounce: 500}"/>
           
        </div>
        
         <span class="glyphicon form-control-feedback" aria-hidden="true" data-ng-class="signupForm.name.$pristine ? '' : (signupForm.user_name.$valid? 'glyphicon-ok' : 'glyphicon-remove')"></span>
        <div data-ng-messages="signupForm.name.$error" data-ng-if="signupForm.name.$dirty" role="alert" class="text-danger">
          <div data-ng-message="">Username should be minimun 4 character long</div>
        </div>
  
      </div>
    
        <div class="form-group has-feedback" data-ng-class="signupForm.service.$pristine ? '' : (signupForm.service.$valid? 'has-success' : 'has-error')">
        <label for="service_name" class="sr-only"></label>
    
            <select class="form-control input-lg" name="service" ng-model="service" value="" ng-options="service.name for service in service_list" required  ></select>
     
  
      </div>
        
        
      <div class="form-group has-feedback" data-ng-class="signupForm.email.$pristine ? '' : (signupForm.email.$valid? 'has-success' : 'has-error')">
        <label for="email" class="sr-only"></label>
        <div class="input-group">
            <span class="input-group-addon">@</span>
          <input type="email"  class="form-control input-lg" name="email" id="email" value="" ng-model="email"  placeHolder="Email Address" required data-ng-model-options="{debounce: 500}"/>
           
        </div>
        <span class="glyphicon form-control-feedback" aria-hidden="true" data-ng-class="signupForm.email.$pristine ? '' : (signupForm.email.$valid? 'glyphicon-ok' : 'glyphicon-remove')"></span>
        <div data-ng-messages="signupForm.email.$error" data-ng-if="signupForm.email.$dirty" role="alert" class="text-danger">
          <div data-ng-message="email">Please enter valid email address</div>
        </div>
      </div>
    

      <div class="form-group" >
       <div class="input-group">
        <span class="input-group-addon">+91</span>
        <input type="tel" class="form-control input-lg" name="mobile" id="mobile" value="" ng-model="mobile" data-ng-pattern="/^[0-9]+$/" ng-minlength="10" ng-maxlength="10" placeHolder="Mobile Number" required data-ng-model-options="{debounce: 500}"/>
       </div>

		<div data-ng-messages="signupForm.mobile.$error" data-ng-if="signupForm.mobile.$dirty" role="alert" class="text-danger">
          <div data-ng-message="pattern">Please enter a valid mobile number.</div>
		  <div data-ng-message="minlength, maxlength">Please enter a valid mobile number.</div>
        </div>
      </div>
    
        <div class="form-group" >
            <div class="span" >
                
                <button ng-click="add()" class="btn btn-primary glyphicon glyphicon-plus"> Remind</button>
                    <br><br>
            </div>
            
            <div ng-repeat="action  in actions">
         
                    <div class="form-group" >
                        <label class="checkbox-inline"><input type="checkbox" value="" ng-model="action.action_email">Email</label>
                        <label class="checkbox-inline"><input type="checkbox" value="" ng-model="action.action_sms">SMS</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""  ng-model="action.action_voice">Voice</label>
                        &nbsp <button ng-click="remove(action)" class="bg-danger btn btn btn-danger btn-primary glyphicon glyphicon-minus"></button>
                    </div>
                    <div class="form-group" >
                       <input type="hidden"   class="form-control" name="objectId" id="objectId" value="" ng-model="action.objectId" />
                    </div>
                    <div class="form-group " >
                        <input type='text' name="action_name" id="action_name" ng-model="action.action_name" class="form-control" placeholder="Action Name" required/>
                    </div>
                    <div class="form-group">
                         <select class="form-control" id="frequency" placeholder="select frequency" name="frequency" ng-model="action.frequency" ng-options="frequency.name for frequency in periods" >            
                        </select>
                    </div>
                    <div class="form-group">
                         <select class="form-control" id="service" name="service" placeholder="select service" ng-model="action.service" ng-options="service.name for service in service_list" >            
                        </select>
                    </div>
                    <div class="form-group">
                         <select class="form-control" id="dom" name="dom" placeholder="Runs on selected day month" ng-model="action.dom" ng-options="dom.name for dom in doms" >            
                        </select>
                        </div>

                    <div class='form-group'>
                        <input type='text' ui-date="dateOptions" ui-date-format="dd/mm/yy" name="start" ng-model="action.start" class="form-control" placeholder="Start Date" required/>
                    </div>
                    <div class='form-group'>
                        <input type='text' class="form-control" name="end" ng-model="action.end" ui-date="dateOptions" ui-date-format="dd/mm/yy" placeholder="End Date (Optional) " />
                    </div>

                    <div class="form-group" >
                        <textarea class="form-control" placeholder="Enter text to be sent in notification" rows="2" id="comment" name="action_text" id="action_text" ng-maxlength="100" ng-model="action.action_text" ></textarea>
                    </div>
                       
            </div>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
    <br><br>
 
 
</div>
</div>
</div>


