<div class="container">
 <div data-ng-hide="emailSent">
  <div class="page-header">
    <h3 class="text-center">FORGOT PASSWORD</h3>
  </div>
  <div data-cg-busy="{promise: lPromise, message: lMessage + '...'}"></div>
  <div class="row" data-ng-show="errMsg">
    <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{errMsg}}</div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <p class="text-center">Please enter your account's email address and we will<br>send you a link to change your password.</p>
      <form name="fpform" data-ng-submit="submitForm()">
        <div class="form-group has-feedback" data-ng-class="fpform.email.$pristine ? '' : (fpform.email.$valid? 'has-success' : 'has-error')">
          <label for="fpemail" class="sr-only"></label>
          <input type="email" class="form-control input-lg" id="fpemail" placeholder="Your Email Address" required data-ng-model="email" name="email" data-ng-model-options="{debounce: 500}" tabindex="1">
          <span class="glyphicon form-control-feedback" aria-hidden="true" data-ng-class="fpform.email.$pristine ? '' : (fpform.email.$valid? 'glyphicon-ok' : 'glyphicon-remove')"></span>
          <span id="fpemailStatus" class="sr-only">(success)</span>
          <div data-ng-messages="fpform.email.$error" data-ng-if="fpform.email.$dirty" role="alert" class="text-danger">
            <div data-ng-message="required, email">{{errEmail}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <button class="btn btn-primary btn-lg btn-block" type="submit" data-ng-disabled="fpform.$invalid" tabindex="2">Change Password</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<div data-ng-show="emailSent">
  <div class="page-header">
    <h3 class="text-center">EMAIL SENT</h3>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center text-muted">You will receive an email with instructions for resetting password.</p>
      <p class="text-center"><a href="#/login" class="btn btn-primary btn-lg btn-lg-sw">OK</a></p>
    </div>
  </div>
</div>
</div>
