<div class="home-grad-top">
	<div class="container">
		<!-- first row - perfect gift -->
		<div class="row">
				<div
					class="col-lg-8 col-md-8 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0 home-first-row-top-margin">
					<h1 class="feature-header">Automate Everything</h1>
					<p class="feature-description">Business Reminders | Birthdays | Anniversaries | Mass Notifications </p>
				</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0 home-first-row-top-margin">
							<h1 class="feature-header">1200 Free SMS | Unlimited Emails</h1>
							<div class="row buttons-mtop">
								<br class="visible-xs"> <br class="visible-xs"> <br
									class="visible-xs" style="margin: 10px">
								<div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
									<a href="#/signup" class="btn btn-primary btn-block"
										style="font-weight: bold; padding-top: 10px; padding-bottom: 10px;">Signup
									</a>
								</div>
							</div>
						</div>
				</div>

		</div>


	</div>
