<div class="container">
<div class="row">
 <div ng-include="'views/leftnav.html'"></div>
 <!-- central content -->
 <div class="col-md-10 col-lg-7 col-xs-12 col-sm-12 nav-body">
   <div class="page-header">
     <h3 class="text-center">PROFILE</h3>
   </div>
   <form class="form-horizontal" name="profileForm" data-ng-submit="submitForm()">
     <div class="row form-group profile-group">
       <label class="col-sm-3 col-xs-12 control-label profile-label">Name</label>
       <div class="col-sm-4 col-xs-6">
         <input type="text" id="prof_fname" class="form-control input-lg" placeholder="First Name" ng-model="pInfo.firstName"/>
       </div>
       <div class="col-sm-4 col-xs-6 mid-column">
         <input type="text" id="prof_lname" class="form-control input-lg" placeholder="Last Name" ng-model="pInfo.lastName"></input>
       </div>
     </div>
     <div class="row form-group profile-group">
       <label for="prof_email" class="col-sm-3 col-xs-12 control-label profile-label">Email Address</label>
       <div class="col-sm-9 col-xs-12">
         <input type="text" id="prof_email" class="form-control input-lg" value="" placeholder="Email Address" ng-model="pInfo.email" readonly></input>
       </div>
     </div>
     <div class="row form-group profile-group">
       <label for="prof_mobile" class="col-sm-3 col-xs-12 control-label profile-label">Mobile</label>
       <div class="col-sm-4 col-xs-12">
         <input name="mobile" type="text" id="prof_mobile"
                class="form-control input-lg"
                placeholder="Mobile number"
                ng-model-options="{ debounce: 500 }"
                ng-model="pInfo.mobile"
         ></input>
       </div>
       <div class="col-sm-offset-3 col-xs-12 col-sm-9" ng-hide="profileForm.mobile.$pristine">
         <span ng-show="profileForm.mobile.$error.validatemobile || profileForm.mobile.$error.validatemobilefmt" role="alert" class="text-danger">
           <strong>Invalid mobile number. Please try again.</strong>
         </span>
       </div>
     </div>
     <div data-cg-busy="{promise: lPromise, message: lMessage + '...'}"></div>




     <div class="form-group profile-password row" ng-show="showPassSection">
       <label class="col-sm-3 col-xs-12 control-label profile-label">Password</label>
       <div class="col-sm-3 col-xs-6" ng-hide="showCPSection">
         <span class="hidden-password">...........</span>
       </div>
       <div class="col-xs-4 col-xs-offset-2 text-right" ng-hide="showCPSection">
         <a class="btn btn-link" id="prof_pwd_change" ng-click="ShowCPSection()">Change</a>
       </div>
       <div class="col-sm-4 col-xs-12" ng-show="showCPSection">
         <input type="password" class="form-control input-lg" name="password" ng-model="password" placeholder="Current password">
       </div>
     </div>

     <div class="row form-group" ng-show="showCPSection"
         data-ng-class="profileForm.newpassword.$pristine ? '' :
         (profileForm.newpassword.$valid ? 'has-success' : 'has-error')">
       <label class="col-sm-3 control-label profile-label hidden-xs"></label>
       <div class="col-sm-4 col-xs-12">
         <input type="password" class="form-control input-lg" name="newpassword"
                ng-pattern="/.*(?=.{8,})(?=.*[a-zA-Z0-9])(?=.*[!@#$%^&*]).*$/" ng-model="newpassword"
                ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)"
                placeholder="New password" ng-required="newpassword || newpassword2">
       </div>
       <div class="col-sm-8 col-sm-offset-3 col-xs-12">
         <div data-ng-messages="profileForm.newpassword.$error"
              data-ng-if="profileForm.newpassword.$invalid" role="alert" class="text-danger">
           <div data-ng-message="pattern"><strong>Invalid password. Must be at least 8 characters and include a special character.</strong></div>
         </div>
       </div>
     </div>

     <div class="row form-group" ng-show="showCPSection"
          data-ng-class="profileForm.newpassword2.$pristine ? '' :
          ((newpassword === newpassword2) ? 'has-success' : 'has-error')">
       <label class="col-sm-3 control-label profile-label hidden-xs"></label>
       <div class="col-sm-4 col-xs-12">
         <input type="password" class="form-control input-lg" name="newpassword2"
                ng-model="newpassword2" placeholder="Confirm password"
                ng-required="newpassword || newpassword2">
       </div>
       <div class="col-sm-8 col-sm-offset-3 col-xs-12">
         <div ng-hide="profileForm.newpassword2.$pristine || (newpassword === newpassword2)"
              role="alert" class="text-danger">
           <div><strong>New passwords didn't match.</strong></div>
         </div>
       </div>
     </div>
     <br/>
     <div class="row">
       <div class="col-sm-offset-4 col-sm-4">
         <button type="submit" ng-disabled="formInvalid()"
                 class="center-block btn btn-block btn-primary btn-lg">Update Profile</button>
        </div>
    </div>
    <strong><div ng-show="errorMessage.length" role="alert" class="text-danger text-center" ng-bind="errorMessage"></div></strong>
    <strong><div ng-show="successMessage.length && !errorMessage.length" role="alert" class="text-success text-center" ng-bind="successMessage"></div></strong>
    </form>
  </div>
</div>
</div>
