<div class="container">
<div class="page-header">
  <h3 class="text-primary text-center">Frequenty Asked Questions</h3>
</div>
<ul class="list-unstyled">
<li>
  <h4 class="text-primary">What is freeminder?</h4>
  <p class="text-muted">freeminder is a cloud based solution available as a mobile app and as website.</p>
  <p class="text-muted">freeminder is a tool which can be used to automate reminders to your contacts.</p>
  <p class="text-muted">You can automate business reminders such as health checkups, car servicing, bill payments etc.</p>
</li>

</ul>
</div>
