
<div class="container">
<div class="page-header">
<h3 class="text-center">SYSTEM ACTION <button ng-click="add()" class="btn btn-primary btn-lg glyphicon glyphicon-plus"></button><br></br> </h3>

</div>

<div data-cg-busy="{promise: lPromise, message: lMessage + '...'}"></div>
<div class="row" data-ng-show="errMsg">
  <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{errMsg}}</div>
</div>
    
<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" >

    <form name="signupForm" ng-submit="submitForm()" >
    
        <div class="form-group" >
            

           <div ng-repeat="action  in actions">
                <div class="form-group" >
                    <div class="input-group">
                        <input type="hidden"   class="form-control" name="objectId" id="objectId" value="" ng-model="action.objectId" />
                    </div>
               </div>
                  <div class="form-group" >
                        <label class="checkbox-inline"><input type="checkbox" value="" ng-model="action.action_email">Email</label>
                        <label class="checkbox-inline"><input type="checkbox" value="" ng-model="action.action_sms">SMS</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""  ng-model="action.action_voice">Voice</label>
                        &nbsp <button ng-click="remove(action.id)" class="bg-danger btn btn btn-danger btn-primary glyphicon glyphicon-minus"></button>
                    </div>
                    <div class="form-group " >
                        <input type='text' name="action_name" id="action_name" ng-model="action.action_name" class="form-control" placeholder="Action Name" required/>
                    </div>
                    <div class="form-group">
                         <select class="form-control" id="frequency" placeholder="select frequency" name="frequency" ng-model="action.frequency" ng-options="frequency.name for frequency in periods" >            
                        </select>
                    </div>
                    <div class="form-group">
                         <select class="form-control" id="service" name="service" placeholder="select service" ng-model="action.service" ng-options="service.name for service in service_list" >            
                        </select>
                    </div>
                    <div class="form-group">
                         <select class="form-control" id="dom" name="dom" placeholder="Runs on selected day month" ng-model="action.dom" ng-options="dom.name for dom in doms" >            
                        </select>
                        </div>

                    <div class='form-group'>
                        <input type='text' ui-date="dateOptions" ui-date-format="dd/mm/yy" name="start" ng-model="action.start" class="form-control" placeholder="Start Date" required/>
                    </div>
                    <div class='form-group'>
                        <input type='text' class="form-control" name="end" ng-model="action.end" ui-date="dateOptions" ui-date-format="dd/mm/yy" placeholder="End Date (Optional) " />
                    </div>

                    <div class="form-group" >
                        <textarea class="form-control" placeholder="Enter text to be sent in notification" rows="2" id="comment" name="action_text" id="action_text" ng-maxlength="100" ng-model="action.action_text" ></textarea>
                    </div>
           </div>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
    <br><br>
 
 
</div>
</div>
</div>


