<div class="container">
<h3 class="text-primary">Terms of Use</h3>
<p class="text-muted">By accessing or using the freeminder application, the  you agree that you have read and understand these Terms of Use. If you do not accept these freeminder Terms of Use, do not use the Service.</p>
<p class="text-muted">We may change these Terms of Use, in whole or in part, at any time. </p>
<p class="text-muted">If you have any questions, comments or complaints, please contact freeminder:</p>
<address class="text-muted">
  <strong>Freeminder</strong><br>
  <a href="mailto:help@freeminder.in?subject=Contact Us">contact@freeminder.in</a>
</address>
</div>
